In [3]:
with open('ASTR19_S22_group_project_data.txt') as file:
    
    lines=file.readlines()
lines

['#Column A: Day of the year\n',
 '#Column B: Time in hours:minutes\n',
 '#Column B: Tide Height in feet\n',
 ' 1  8:07  6.57\n',
 ' 1 15:37 -0.39\n',
 ' 2  8:55  5.38\n',
 ' 2 16:25 -1.74\n',
 ' 3  9:45  5.26\n',
 ' 3 17:14 -1.36\n',
 ' 4 10:35  4.13\n',
 ' 4 18:00 -1.15\n',
 ' 5 11:28  3.48\n',
 ' 5 18:46 -1.61\n',
 ' 6 12:22  2.62\n',
 ' 6 19:31  0.05\n',
 ' 7 13:24  1.83\n',
 ' 7 20:16  1.01\n',
 ' 8  3:22  3.57\n',
 ' 8 21:01  0.73\n',
 ' 9  4:07  4.54\n',
 ' 9 21:46  2.17\n',
 '10  4:50  3.76\n',
 '10 11:58  2.88\n',
 '11  5:31  3.90\n',
 '11 12:56  1.92\n',
 '12  6:08  4.73\n',
 '12 13:45  1.74\n',
 '13  6:47  5.66\n',
 '13 14:25  0.79\n',
 '14  7:22  5.33\n',
 '14 15:00 -0.04\n',
 '15  7:59  5.23\n',
 '15 15:34 -1.12\n',
 '16  8:34  6.67\n',
 '16 16:08 -0.61\n',
 '17  9:10  4.74\n',
 '17 16:41 -0.93\n',
 '18  9:45  4.69\n',
 '18 17:12 -1.29\n',
 '19 10:21  4.20\n',
 '19 17:45  0.22\n',
 '20 10:57  3.68\n',
 '20 18:15  0.26\n',
 '21 11:38  2.47\n',
 '21 18:48  0.36\n',
 '22 12:25  2.59\n',
 '22 19:20  0.99\n',
 '23  2:22  4.10\n',
 '23 19:52  1.87\n',
 '24  2:58  3.17\n',
 '24 20:30  1.60\n',
 '25  3:37  3.71\n',
 '25 10:44  3.10\n',
 '26  4:23  4.04\n',
 '26 11:55  2.49\n',
 '27  5:15  4.07\n',
 '27 12:57  2.18\n',
 '28  6:09  5.93\n',
 '28 13:50  0.70\n',
 '29  7:05  6.89\n',
 '29 14:39  0.21\n',
 '30  7:58  6.72\n',
 '30 15:27  0.22\n',
 '31  8:50  6.77\n',
 '31 16:10 -1.68\n',
 '32  9:40  5.77\n',
 '32 16:52 -1.32\n',
 '33 10:30  4.35\n',
 '33 17:34 -0.73\n',
 '34 11:19  4.23\n',
 '34 18:12 -0.38\n',
 '35 12:10  2.24\n',
 '35 18:49 -0.61\n',
 '36  1:32  3.45\n',
 '36 19:24 -0.46\n',
 '37  2:13  4.13\n',
 '37 20:00  1.21\n',
 '38  2:54  3.34\n',
 '38  9:54  2.58\n',
 '39  3:39  3.32\n',
 '39 11:15  3.26\n',
 '40  4:29  5.21\n',
 '40 12:22  2.39\n',
 '41  5:21  4.83\n',
 '41 13:14  2.41\n']

In [4]:
!cat ASTR19_S22_group_project_data.txt

#Column A: Day of the year
#Column B: Time in hours:minutes
#Column B: Tide Height in feet
 1  8:07  6.57
 1 15:37 -0.39
 2  8:55  5.38
 2 16:25 -1.74
 3  9:45  5.26
 3 17:14 -1.36
 4 10:35  4.13
 4 18:00 -1.15
 5 11:28  3.48
 5 18:46 -1.61
 6 12:22  2.62
 6 19:31  0.05
 7 13:24  1.83
 7 20:16  1.01
 8  3:22  3.57
 8 21:01  0.73
 9  4:07  4.54
 9 21:46  2.17
10  4:50  3.76
10 11:58  2.88
11  5:31  3.90
11 12:56  1.92
12  6:08  4.73
12 13:45  1.74
13  6:47  5.66
13 14:25  0.79
14  7:22  5.33
14 15:00 -0.04
15  7:59  5.23
15 15:34 -1.12
16  8:34  6.67
16 16:08 -0.61
17  9:10  4.74
17 16:41 -0.93
18  9:45  4.69
18 17:12 -1.29
19 10:21  4.20
19 17:45  0.22
20 10:57  3.68
20 18:15  0.26
21 11:38  2.47
21 18:48  0.36
22 12:25  2.59
22 19:20  0.99
23  2:22  4.10
23 19:52  1.87
24  2:58  3.17
24 20:30  1.60
25  3:37  3.71
25 10:44  3.10
26  4:23  4.04
26 11:55  2.49
27  5:15  4.07
27 12:57  2.18
28  6:09  5.93
28 13:50  0.70
29  7:05  6.89
29 14:39  0.21
30  7:58  6.72
30 15:27  0.22
31  8:50  6.77
31 16:10 -1.68
32  9:40  5.77
32 16:52 -1.32
33 10:30  4.35
33 17:34 -0.73
34 11:19  4.23
34 18:12 -0.38
35 12:10  2.24
35 18:49 -0.61
36  1:32  3.45
36 19:24 -0.46
37  2:13  4.13
37 20:00  1.21
38  2:54  3.34
38  9:54  2.58
39  3:39  3.32
39 11:15  3.26
40  4:29  5.21
40 12:22  2.39
41  5:21  4.83
41 13:14  2.41

In [29]:
import matplotlib.pyplot as plt
import pandas as pd
fname = "./ASTR19_S22_group_project_data.txt"
#f = open(fname,'r')
#lines = f.readlines()

x = []
#for line in lines:
    #if not line.startswith('#'):
       # l = line.split()
        #for i in l:

df = pd.read_csv(fname)
f.close()

rows = 5
df.head(rows)
     

#print(x)

         #Column A: Day of the year
0  #Column B: Time in hours:minutes
1    #Column B: Tide Height in feet
2                     1  8:07  6.57
3                     1 15:37 -0.39
4                     2  8:55  5.38